@mixin colors {
    background-color: black;
    color: white;
}

.input-field {
    @include colors;

    width: 100%;
    padding: 10px;
    margin: 1%;
    border: 5px solid white;
    display: flex;
    align-items: center;
    
    * {
        margin: 5px;
        font-size: 24px;
    }
    
    .input-el {
        outline: none;
        border: none;
        @include colors;
        width: 100%;
    }
}